<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionddbb" connectionString ="Data Source=desktop-40d8qqj\SQLSERVER; Initial Catalog=WA317; uid=Dani; Password=dmarin135791" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>